<!--%Tag(FULL)%-->
<launch>
	<!-- Launch kinect nodes -->
	<include file="$(find openni_camera)/launch/openni_node.launch"/>
	
	<!-- Launch object_tracker nodes 
	<node pkg="object_tracker" type="image_converter" name="image_converter" />
	<node pkg="object_tracker" type="red_rectangle_tracker" name="red_rectangle_tracker" />-->
	<node pkg="object_tracker" type="circle_tracker" name="circle_tracker" />
	
</launch>
<!--%EndTag(FULL)%-->
